div, input, button {
	box-sizing: border-box;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Helvetica,sans-serif;
}

#page
{
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#site-header
{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #474749;
	color: #616161;
	overflow: hidden;
}

#logo
{
	margin: 20px; 
	color: #fff;
	float: left;
}

#logo a
{
	font-size: 24px;
	color: white;
	text-decoration: none;
}

#mainmenu
{
	margin-top: 10px;
	float: left;
}

#mainmenu ul
{
	padding: 6px 20px 5px 20px;
	margin: 0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #333;
	background-color: #EEE;
	box-shadow: inset 0 0 5px #aaa;
	text-decoration: none;
}

/* OPERATIONS */
#operations
{
	border-bottom: solid 1px #ddd;
	background-color: #f3f3f3;
	padding: 20px;
	min-height: 30px;
	overflow: hidden;

}
#operations h1
{
	float: left;
	margin: 0;
}
#operations .menu
{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}
#operations .menu li
{
	display: inline-block;
	text-decoration: none;
}



/* CONTENT
*============================ */
#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}