@import "nib"
@import "jeet"

body
	padding: 0px;
	margin: 0px;
	font: 14px/18px Helvetica, sans-serif;
	color: #222;
					
.clear 
	cf()
					
a, a:visited
	color: #000;
	text-decoration: none;	
a:hover	
	text-decoration: underline;			
					
.container
	center(1020px)
					
#site-header
	margin-bottom: 3px;
	display: block;
	color: #fff;
	background: #da5a47;
	padding: 5px 10px;
	min-height: 100px
	cf()

	nav 
		display: block;
		column(.3)
		float: right;
		margin-top: 35px;

		ul
			margin: 0;
			list-style: none;

		ul > li 
			display: inline-block; 
			margin-left: 10px;

		ul > li > a 
			display: block;
			margin-top: 4px;
			line-height: 22px;
			color: white;

		ul > li > a:hover, ul > li > a.active 
			text-decoration: none
		
		ul li a.active 
			cursor: default;

		.categories
			display none
			position absolute
			background white
			padding 10px
			box-shadow 0 0 2px rgba(0,0,0,.3)

			ul
				margin 0
				padding 0

			li 
				display block
				margin 0

			a
				padding 2px 5px
				color #333
				display block

			a:hover
				background #eee
				border none

	#logo
		column(.2)
		margin-top: 35px;

		a, a:visited
			color: #fff;
			font-weight: normal;
			font-size: 28px;
		
		a:hover
			text-decoration: none;

	#search
		column(.5)
		margin-top: 25px;

		input 
			padding: 10px;
			font-size: 16px;
			border: none;
			display: inline-block;
			font-family: sans-serif;
			width: 180px;

		button
			background: #222;
			border: none;
			padding: 10px;
			font-size: 16px;
			display: inline-block;
			color: white;
			font-family: sans-serif;

/* CONTENT */
#content
	background-color: #fff;
	padding: 30px 0;
	column(.7)
	
	h1
		margin-top: 0; 
		font-size: 35px; 
		font-weight: bold;

	.categories

		ul
			margin 0
			padding 0
			list-style none

		li
			column(1/3, cycle: 3)
			margin-bottom 20px

		li a.heading
			font-weight bold
			color #333
			margin-bottom 7px
			display block

		.sub-categories
			height 125px
			overflow hidden;
			font-size 13px
			a
				color: #da5a47;
				text-decoration: none;
				display block

			a:hover
				text-decoration: underline; 


/* SIDEBAR */
#sidebar
	column(.3)

/* FOOTER */
#site-footer
	padding: 20px;