body {
  padding: 0px;
  margin: 0px;
  font: 14px/18px Helvetica, sans-serif;
  color: #222;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  content: '';
  display: table;
}
.clear:after {
  clear: both;
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  *zoom: 1;
  width: auto;
  max-width: 1020px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
#site-header {
  margin-bottom: 3px;
  display: block;
  color: #fff;
  background: #da5a47;
  padding: 5px 10px;
  min-height: 100px;
  *zoom: 1;
}
#site-header:before,
#site-header:after {
  content: '';
  display: table;
}
#site-header:after {
  clear: both;
}
#site-header nav {
  display: block;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 27.9%;
  margin-left: 0%;
  margin-right: 3%;
  float: right;
  margin-top: 35px;
}
#site-header nav:before,
#site-header nav:after {
  content: '';
  display: table;
}
#site-header nav:after {
  clear: both;
}
#site-header nav:last-child {
  margin-right: 0%;
}
#site-header nav ul {
  margin: 0;
  list-style: none;
}
#site-header nav ul > li {
  display: inline-block;
  margin-left: 10px;
}
#site-header nav ul > li > a {
  display: block;
  margin-top: 4px;
  line-height: 22px;
  color: #fff;
}
#site-header nav ul > li > a:hover,
#site-header nav ul > li > a.active {
  text-decoration: none;
}
#site-header nav ul li a.active {
  cursor: default;
}
#site-header nav .categories {
  display: none;
  position: absolute;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
}
#site-header nav .categories ul {
  margin: 0;
  padding: 0;
}
#site-header nav .categories li {
  display: block;
  margin: 0;
}
#site-header nav .categories a {
  padding: 2px 5px;
  color: #333;
  display: block;
}
#site-header nav .categories a:hover {
  background: #eee;
  border: none;
}
#site-header #logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 35px;
}
#site-header #logo:before,
#site-header #logo:after {
  content: '';
  display: table;
}
#site-header #logo:after {
  clear: both;
}
#site-header #logo:last-child {
  margin-right: 0%;
}
#site-header #logo a,
#site-header #logo a:visited {
  color: #fff;
  font-weight: normal;
  font-size: 28px;
}
#site-header #logo a:hover {
  text-decoration: none;
}
#site-header #search {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 25px;
}
#site-header #search:before,
#site-header #search:after {
  content: '';
  display: table;
}
#site-header #search:after {
  clear: both;
}
#site-header #search:last-child {
  margin-right: 0%;
}
#site-header #search input {
  padding: 10px;
  font-size: 16px;
  border: none;
  display: inline-block;
  font-family: sans-serif;
  width: 180px;
}
#site-header #search button {
  background: #222;
  border: none;
  padding: 10px;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  font-family: sans-serif;
}
/* CONTENT */
#content {
  background-color: #fff;
  padding: 30px 0;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 69.1%;
  margin-left: 0%;
  margin-right: 3%;
}
#content:before,
#content:after {
  content: '';
  display: table;
}
#content:after {
  clear: both;
}
#content:last-child {
  margin-right: 0%;
}
#content h1 {
  margin-top: 0;
  font-size: 35px;
  font-weight: bold;
}
#content .categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#content .categories li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 20px;
}
#content .categories li:before,
#content .categories li:after {
  content: '';
  display: table;
}
#content .categories li:after {
  clear: both;
}
#content .categories li:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
#content .categories li:nth-child(3n + 1) {
  clear: both;
}
#content .categories li a.heading {
  font-weight: bold;
  color: #333;
  margin-bottom: 7px;
  display: block;
}
#content .categories .sub-categories {
  height: 125px;
  overflow: hidden;
  font-size: 13px;
}
#content .categories .sub-categories a {
  color: #da5a47;
  text-decoration: none;
  display: block;
}
#content .categories .sub-categories a:hover {
  text-decoration: underline;
}
/* SIDEBAR */
#sidebar {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 27.9%;
  margin-left: 0%;
  margin-right: 3%;
}
#sidebar:before,
#sidebar:after {
  content: '';
  display: table;
}
#sidebar:after {
  clear: both;
}
#sidebar:last-child {
  margin-right: 0%;
}
/* FOOTER */
#site-footer {
  padding: 20px;
}
